*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#home{
    padding: 20px 0px 10px 0px ;
}
.name{
    font-size: 25px;
    color: #FFCD38;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
}
.container{
    width: 1140px;
    margin: auto;
}
.flexNav{
    display: flex;
    justify-content: space-between;
    background-attachment: fixed;

}
.menu ul li{
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3),0px -4px 10px rgba(255,255,255,0.3);
    font-weight: 500; 
}
.menu ul li a{
    text-decoration: none;
    padding-right: 35px;
    color: black;
    font-size: 16px;
    transition: .5s;
}
.menu ul li a:hover{
    color: #FF6FB5;
    transition: .5s;
}
/* body part */
:root {
    --bg-color: #2E3D4B;
    --text-color: #6AE3FF;
}

.containerr {
    min-width: 400px;
    height: 70vh;
    align-items: center;
    box-sizing: border-box;
    background: var(--bg-color);
    padding: 50px;
    float: right;
}

.typewriter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    color: #fff;
    font-weight: bold;
    position: relative;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}

.typewriter span {
    color: var(--text-color);
    text-transform: uppercase;
    padding: 10px;
    border-right: solid var(--text-color) 10px; 
    animation: cursor 1s ease-in-out infinite;
}

@keyframes cursor {
    from { border-color: var(--text-color); }
    to { border-color: transparent; }
}

@media (max-width: 576px) {
    .typewriter { font-size: 24px; }
}
@media (max-width: 768px) {
    .typewriter { font-size: 36px; }
}
.flaxImg{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.profilep img{
    width: 155px;
    height: auto;
    border-radius: 100%;
    padding: 0px 0px 30px 0px;
}
.profilep h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 500 ;
    color: #1A3C40;
}
.profilep p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #581845;
}
#contac{
    padding: 8px 20px;
    background-color: #0AA1DD;
    border: none;
    margin-top: 25px ;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    transition: .5s;

}
#contac:hover{
    background-color: #EB5353;
    transition: .5s;

}
.flex{
    display: flex;
    justify-content: space-between;
}
.futter{
    margin-top: 8rem;
   
}

.one ul li{
    list-style: none;
    margin-bottom: 5px;
}
.rapfut{
    background-color: #FFCD38;
    padding: 20px;
}
.one ul li a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color:#00060A;
    transition: .5s;
    font-size: 16px;
}
.one ul li a:hover{
    font-weight: 700;
    transition: .5s;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}
.one ul li span{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.menu ul li a:hover{
    transition: .5s;
    text-shadow: none;
}

/* 
font-family: 'Poppins', sans-serif;
*/